@charset "utf-8";

body {
    background-color: white;
    position: relative;
}

#ui-datepicker-div {
	top: 55px !important;
}

.nav.navbar-nav.navbar-right a {
	color: #fff;
}

.nav.navbar-nav.navbar-right a:hover {
	font-weight: bold;
}

.wrapper {
    width: 500px;
}

.navbar {
    background-color: #66cc66;
    color: #fff;
    border-bottom: none;
}

.navbar-brand img {
	height: 100%;
	width: auto;
}

.navbar-brand {
	padding: 0;
}

.red-border {
    border: red 1px solid !important;
}

.content {
    max-width: 100%;
    min-height: 550px;
    float: none;
    margin: 50px auto 10px;
    padding: 25px 30px;
}

.navbar-default .navbar-brand {
  color: black;
}
.navbar-default .navbar-text {
  color: black;
}
.navbar-default .navbar-nav > li > a {
  color: black;
}
.navbar-default .navbar-header > a:hover,
.navbar-default .navbar-header > a:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: white;
    background-color: transparent;
}

.footer {
    text-align: center;
    color: black;
    border-top: silver 1px solid;
    vertical-align: middle;
}

.group-header {
    background-color: #4cae4c;
    color: black;
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0 !important;
    padding: 5px;
    text-align:center;
}

.no-margin {
    margin: 0 !important;
}

.table-container {
    padding: 5px;
}

input[readonly] {
  background-color: white !important;
  cursor: text !important;
}

.no-padding {
    padding: 0 !important;
}

@media (max-width: 767px) {
    .no-padding-xs {
        padding: 0 !important;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .no-padding-sm {
        padding: 0 !important;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .no-padding-md {
        padding: 0 !important;
    }
}
@media (min-width: 1200px) {
    .no-padding-lg {
        padding: 0 !important;
    }
}

#login-form, #register-form, #check-entry-form, #general-message {
    margin-top: 75px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 550px;
    float: none;
}

#graduate-profile-form {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    float: none;
}

.my-label {
    padding-top: 7px;
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
    vertical-align: middle;
}

.img-wrapper {
    max-width: 220px;
    max-height: 220px;
    float: none;
    margin: 0 auto;
}

.profile-picture {
    width: 100%;
    height: auto;
}

.tab-pane {
    padding: 20px;
}

.panel-body {
    word-wrap:break-word;
}

.tooltip-inner {
    max-width: 500px !important;
    text-align: left;
}

th, td {
    vertical-align: middle !important;
}

.row-buttons button {
    margin: 1px;
}

dl {
    float: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

dd {
    margin-bottom: 20px;
}

.ui-datepicker-title select {
    color: black !important;
}

.ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
}

html .ui-autocomplete {
    height: 100px;
}

#profile > .row {
    margin-bottom: 15px;
}

.display-head {
    border-bottom: silver 1px solid;
}

.display-content {
    word-wrap: break-word;
    word-break: break-all;
}